Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj/
*.xcworkspace/

Plugins/AtlasUE/Binaries/
Plugins/AtlasUE/Intermediate/
Plugins/AtlasUE/ThirdParty/AtlasEntityDef/entity_defs.bin
