Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj/
*.xcworkspace/

Plugins/AtlasUE/ThirdParty/AtlasNetClient/lib/
Plugins/AtlasUE/ThirdParty/AtlasNetClient/bin/
Plugins/AtlasUE/Binaries/
Plugins/AtlasUE/Intermediate/
